.navbar_container {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 15%;
  background-color: var(--color-dark--3);
  font-family: 'Manrope';
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 6rem;
  letter-spacing: 1.92px;
}

.title_log {
  color: #083b1e;
  margin-bottom: 1rem;
}

li::marker {
  content: '';
}

.navbar_item {
  text-decoration: none;
  padding: 0.5rem 0.25rem;
  color: white;
  margin-bottom: 1rem;
  font-size: medium;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 1.92px;
}

.navbar_pages {
  display: flex;
  flex-direction: column;
}

.selected_nav {
  text-decoration: underline;
}

main {
  margin-left: 10rem;
}

.overview {
  background-repeat: no-repeat;
  position: absolute;
  margin: 0rem -8rem;
}
.upload_files {
  background-repeat: no-repeat;
  position: absolute;
  cursor: pointer;
  margin: 6rem -8rem;
}

.edit_categories {
  background-repeat: no-repeat;
  position: absolute;
  height: 3rem;
  margin: 12rem -8rem;
}

.about {
  background-repeat: no-repeat;
  position: absolute;
  margin: 18rem -8rem;
}

.settings {
  background-repeat: no-repeat;
  position: absolute;
  margin: 24rem -8rem;
}

.logout {
  background-repeat: no-repeat;
  position: absolute;
  margin: 65rem -8rem;
}
