.select {
  padding: 0.1rem;
  margin: 0.5rem;
  gap: 0.4rem;
  align-items: center;
  font-size: small;
  display: flex;
  flex-direction: column;
}

.monthYearSelectorWrapper {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.yearMonthSeparator {
  font-weight: bold;
  font-size: 1.2rem;
}
