.table_header tbody {
  padding: 0.5rem 1rem;
}
td {
  padding: 0.5rem 1rem;
  text-align: center;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  text-align: center;
}
